openapi: 3.0.3
info:
  title: Architect of the Capitol Data Accessibility Art Collection API
  description: API providing access to public information about Capitol campus buildings, art collections, historic preservation projects, and congressional facilities.
  version: 1.0.0
  contact:
    name: Architect of the Capitol
    url: https://www.aoc.gov/
servers:
- url: https://api.aoc.gov/v1
  description: Production
tags:
- name: Art Collection
paths:
  /artworks:
    get:
      summary: List Capitol art collection
      operationId: listArtworks
      tags:
      - Art Collection
      parameters:
      - name: medium
        in: query
        schema:
          type: string
      - name: artist
        in: query
        schema:
          type: string
      - name: location
        in: query
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: List of artworks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtworkList'
  /artworks/{artworkId}:
    get:
      summary: Get artwork details
      operationId: getArtwork
      tags:
      - Art Collection
      parameters:
      - name: artworkId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Artwork details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artwork'
        '404':
          description: Artwork not found
components:
  schemas:
    Artwork:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        artist:
          type: string
        yearCreated:
          type: string
        medium:
          type: string
        dimensions:
          type: string
        location:
          type: string
        buildingId:
          type: string
        description:
          type: string
        imageUrl:
          type: string
        acquisitionDate:
          type: string
        historicalSignificance:
          type: string
    ArtworkList:
      type: object
      properties:
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
        artworks:
          type: array
          items:
            $ref: '#/components/schemas/Artwork'
